*{
    font-family: 'Courier New';
}

.container{display: flex;}

.column{flex-direction: column;}

nav a{
    background-color: black;
    color: white;
    font-size: 30px;
    max-height: 70px;
    text-align: center;
    text-decoration: none;
    flex: 2
}

nav a:hover{
    background-color: rgb(66, 66, 66);
}

#main h1{
    font-size: 70px;
    text-align: center;
    flex: 1;
}

#yip{
    align-items: center;
    font-size: 25px;
    background-color: black;
    color: white;
    padding: 10px;
}
