*{
    font-family: 'Courier New';
    font-weight: bold;
}

.container{display: flex;}

.column{flex-direction: column;}

nav a{
    transition: all 0.2s;
    background-color: black;
    color: white;
    font-size: 30px;
    max-height: 70px;
    text-align: center;
    text-decoration: none;
    flex: 2
}

nav a:hover{
    background-color: rgb(66, 66, 66);
}

#main h1{
    color: white;
    font-size: 70px;
    text-align: center;
    flex: 1;
}

#main h1:hover{
    font-style: bol;
}

#yip{
    align-items: center;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.664);
    color: white;
    padding: 10px;
    opacity: 1;
}

.center{
    text-align: center;
}

.background-element img{
    filter: sepia(100%) hue-rotate(10deg) brightness(50%);
}

#gallery img{
    padding: 50px;
    border-radius: 20px;
}

.TextLandscapes{
    opacity: 1;
    font-size: 50px;
    color: rgba(255, 255, 255);
    position: absolute;
    top: 27%;
    left: 14%;
}

.gallery div img{
    transition: all 0.2s;
    flex: 2;
    padding: 40px;
}

.gallery div img:hover{
    transform: scale(1.03);
    filter: sepia(60%) brightness(80%);
}

.gallery div img:hover .TextLandscapes{
    opacity: 1;
}

.CultureMain{
    color: white;
    padding: 50px;
    font-size: 20px;
    font-style: oblique;
}

.CultureMain img{
    transition: all 0.2s;
}

.CultureMain img:hover{
    transform: scale(1.01);
    filter: contrast(105%) brightness(105%);
}


    .CultureMain{
        background-image: url(Images/Manilla.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

.cards{
    margin-bottom: 67px;
    margin-left: 100px;
    transition: 0.3s;
    flex-direction: column;
    border-radius: 25px;
    background-color: rgba(87, 87, 87, 0.438);
    color: rgb(255, 255, 255);
    max-width: 400px;
}

.cards:hover{
    transform: scale(1.03);
}

.cards img{
    padding: 35px;
    width: 305;
    height: 305;
    border-radius: 25px;
}

.cards h1{
    font-weight: bold;
    padding-left: 35px
}

.cards p{
    font-size: 18px;
    padding-left: 35px;
}








